// Footer Styles

@use "variables" as *;
@use "mixins" as *;


footer {
    padding: $padding;
}


.section-footer{
    color: $wave-white;
    text-align: center;
    background-image: url(../images/wave-blue-light.png);
  
}
.section-footer li {
    list-style: none;
   
    color: $wave-white;
}

.section-footer img{
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 40px;
}
.section-footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    gap: 1rem;
   
}

.section-footer p {
    text-align: center;
    font-size: 1.5rem;
}

.section-footer,  a:hover, a:visited, a:active, a:link{ 
    color: #fff;
    font-weight: $font-weight;
    font-size: 1.3rem;
}


//practice github

