// Footer Styles

@use "variables" as *;
@use "mixins" as *;


footer {
    padding: $padding;
}


.section-footer{
    color: $wave-white;
    background-image: url(/images/wave-blue-light.png);
  
}
.section-footer li {
    list-style: none;
   
    color: $wave-white;
}

.section-footer img{
    width: 30px;
    height: 30px;
}
.section-footer ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    gap: 1rem;
   
}

//practice github

