// Header Styles
@use "variables" as *;

.site-header {
    height: auto;
    background-image: linear-gradient(to top, $wave-white 2%, rgba(0,0,0,0) 2%);
}

.site-header h1 {
    margin: 0 auto;
    color: $text-color-light;
    display: block;
    padding: 3rem 1rem;
    text-transform: uppercase;
    max-width: 39.375rem;
    height: 14.375rem;
}

@media (min-width: $tabletPortrait) {
    .site-header h1{
        height: 16.5rem;
        font-size: 2.5rem;
    }
}

@media (min-width: $desktopMedium) {
    .site-header h1{
        max-width: 51.875rem;
    }
}

@media (min-width: $desktopLarger) {
    .site-header h1{
        max-width: 58.125rem;
        font-size: 3.5rem;
        height: 18rem;
    }
}

.slide-container {
    position: absolute;
    height: 35rem;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: -1;
}

@media (min-width: $tabletPortrait) {
    .slide-container {
        height: 42rem;
    }
}

@media (min-width: $desktopLarger) {
    .slide-container {
        height: 46rem;
    }
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-buttons {
    width: 4rem;
    margin: 4rem auto 1rem;
    text-align: center;
}

@media (min-width: $tabletPortrait) {
    .slide-buttons {
        width: 6rem;
    }
}

@media (min-width: $desktopLarger) {
    .slide-buttons {
        margin: 2rem auto 1rem;
    }
}

.slide-btn {
    display: inline-block;
    padding: 0.3rem;
    margin: 0 0.1rem;
    border-radius: 1rem;
    background-color: $text-color-light;
    cursor: pointer;
}

@media (min-width: $tabletPortrait) {
    .slide-btn {
        padding: 0.5rem;
        margin: 0 0.3rem;
    }
}

.wave {
    // left: 0;
    overflow: hidden;
    object-fit: cover;
    // object-position: center;
    height: 7rem;
    width: 100%;
    // position: absolute;
    // width: 46rem;
    // height: 9rem;
    // left: -4.25rem;
}

@media (min-width: $tabletPortrait) {
    .wave {
        // height: 7rem;
        object-fit: fill;
    }
}