@use "variables" as *;
@use "mixins" as *;


h3 {
    color: $text-color-dark-gray;
    text-transform: $text-transform-upper;
    font-size: 1rem;
    font-weight: 800;
}


.section-customized {
    background-color: $wave-white;
    text-align: center;
}

.section-customized img {
    width: 12.5rem;
    padding: .625rem;
}

.section-customized a,
.section-customized a:visited,
.section-customized a:hover,
.section-customized a:active,
.section-customized a:focus{  
    color: $text-color-dark-gray;
    text-decoration: $text-decoration-under;
    display: none;
}


.article-section-customized {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.25rem;
    border-top: 1px solid $background-gray;
    text-align: left;
}

.article-section-customized:first-child{
    border:none;
} 
