@use "variables" as *;
@use "mixins" as *;


.section-customized {
    background-color: $wave-white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.section-customized h2 {
    margin: 0 3.125rem .625rem; 
    padding-top: 0;
    color: #545454
}

.section-customized h3 {
    color: $text-color-dark-gray;
    text-transform: $text-transform-upper;
    font-size: 1rem;
    font-weight: 700;
}

.section-customized p {
    margin: 0 10px;
}

.section-customized a,
.section-customized a:visited,
.section-customized a:hover,
.section-customized a:active,
.section-customized a:focus{  
    color: $text-color-dark-gray;
    text-decoration: $text-decoration-under;
    display: none;
}

.article-section-customized {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.25rem .625rem;
    border-top: 1px solid $background-gray;
    text-align: left;
}

.article-section-customized:first-child {
    border:none;
} 

.article-section-customized img {
    width: 12.5rem;
    padding: .625rem;
}

.wave-dark-wave {
    left: 0;
    overflow: hidden;
    object-fit: cover;
    height: 8rem;
    width: 100%;
}

@media (min-width: $tabletPortrait) {


    .container-service-customized {
        display: flex;
        flex-direction: row;
        text-align: center ;
        justify-content: center;
        align-items: center;
    }

    .section-customized h2 {
        font-size: 2.5rem;
        color: $wave-dark;
    }

    .section-customized h3 {
        font-size: 1.5rem;
        color: $text-color-blue;
    }
    

    .section-customized p {
        margin: 1.25rem;
        font-size: 1.25rem;
    }   


    .section-customized a,
    .section-customized a:visited,
    .section-customized a:hover,
    .section-customized a:active,
    .section-customized a:focus{  
        display: inline-block;
    }
    
    .article-section-customized {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        margin: 10px .625rem 30px;
        border-top: none;
        text-align: center;
        word-wrap: wrap;
    }
    
    .article-section-customized img {
        width: 100%;
    }
    
    .wave-dark-wave {
        left: 0;
        height: auto;
        width: 100%;
    }
    
}



@media (min-width: $desktopMedium) {

    
    .section-customized h2 {
        font-size: 2.5rem;
    }

    .section-customized h3 {
        font-size: 1.5rem;
    }
    

    .section-customized p {
        margin: 1.25rem;
    }   

}
