@use "variables" as *;
@use "typography" as *;
@use "mixins" as *;

.section-signup {
    background-color: #B1CDE1;
    text-align: center;
    padding: 1.5em 0;

    h2 {
        font-size: 1.4em;
        color: $wave-dark;
        font-weight: 500;
        padding-bottom: .5em;
        margin: 0;
        text-transform: none;
    }
    
    label {
        display: none;
    }
    
    .mailbox {
        width: 60vw;
        padding: 0.375em;
    }
    
    .submit {
        background-color: $wave-light;
        border-color: $wave-light;
        color: $wave-white;
        padding: .5em 1em;
        font-weight: 700;
        border-style: none;
        margin: .5em;
        flex: 0 0 auto;
    }
}

@include tablet-portrait {
    .section-signup {
        @include flex-row;
        justify-content: center;
        
        h2 {
            font-size: 1.5em;
            padding: 0;
            margin: .5em;
        }
        
        .mailbox {
            margin: 0 1em;
            width: 30vw;
        }

    }
   
}

@include desktop-med {
    .section-signup {
        .mailbox {
            width: 30vw;
        }

        .submit {
            padding: .5em 1.5em;
        }
    }
}