@use "variables" as *;

body {
    font-family: $body-font;
    line-height: $line-height;
    font-weight: $font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav a,
.site-top-links a {
    text-transform: uppercase;
    font-family: $heading-font;
}


h1 {
    font-size: 1.5rem; 
    text-align: center;
}


h2 {
    font-size: 2rem;
    color: $text-color-dark-gray;
    text-transform: $text-transform-upper;
    text-align: center;
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1rem;
    text-align: center;
}

a {
    text-decoration: none;
}


