@use "variables" as *;

body {
    font-family: $body-font;
    line-height: $line-height;
    font-weight: $font-weight;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

h1, h2, h3, nav a {
    font-family: $heading-font;
}

h1 {
    font-size: 2.6rem; 
    text-align: center;
    
}
h2{
    font-size: 2rem;
   
}
h3{
    font-size: 1.6rem;
    
}
p{
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}


