 // Colors
$wave-dark: #244A64;
$wave-light: #009DDC;
$wave-white: #ffffff;
$nav-bg: #383838c5;

// Text Colors
$text-color-dark: #1b1b1b;
$text-color-light: #ffffff;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
$body-font: Roboto, serif;
$heading-font: Roboto Condensed, sans-serif;

// Typographic Defualts
$line-height: 1.4;
$font-weight: 400;



// // Layout variables
$padding: 30px;

// Utility variables
$link-hover-selector: '&:hover, &:focus, &:active';

// Sizing
$desktop-min: 50rem; // Temp value, can change

// Media Query Breakpoints
$desktopMedium: em(1251);
$tabletLandscape: em(1024);
$tabletPortrait: em(850);
$phoneLandscape: em(670);
$phonePortrait: em(420);