// View links styles

@use "variables" as *;

.view-links ul {
    text-align: center;
    padding: 0;
    height: 4.8125rem;
}

@media (min-width: $tabletPortrait) {
    .view-links ul{
        height: auto;
    }
}

@media (min-width: $desktopLarger) {
    .view-links ul{
        padding: 2rem 0 0;
    }
}

.view-links li {
    list-style: none;
    margin: 2rem 0;
}

.view-links li a {
    color: $text-color-light;
    font-family: $heading-font;
    text-transform: uppercase;
    // display: block;
    padding: 0.5rem;
    width: 10rem;
    border: .0625rem solid $text-color-light;
}

@media (min-width: $tabletPortrait) {
    .view-links li {
        display: inline-block;
        margin: 0 1rem;
    }
}